/* genral conatct */
.genral-contact {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 400px;
    padding-right: 300px;
    color: #000000;
}

#contact-method {
    font-weight: bold;

}

p {
    color: rgb(57, 57, 57);
    padding-bottom: 20px;
}

#contact {
    padding-top: 10px;
    padding-bottom: 10px;

}

/* contact us form */

.page-width {
    max-width: 900px;
    /* Set the maximum width of the form container */
    margin: 0 auto;
    /* Center the form horizontally */
}

.field {
    margin-bottom: 20px;
    /* Add some spacing between fields */
}

.field__input {
    width: 100%;
    /* Make the input fields fill the container */
    padding: 10px;
    /* Add padding for better spacing */
    border: 1px solid #ccc;
    /* Add a border for a cleaner look */
}

.field__label {
    display: block;
    /* Ensure labels are on a new line */
    margin-bottom: 5px;
    /* Add spacing below labels */
}

.text-area {
    resize: vertical;
    /* Allow vertical resizing for textarea */
}

.contact__button {
    text-align: center;
    /* Center the submit button */
}

.button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.field__input:focus {
    outline: none;
    /* Remove the default focus outline */
}