


{% extends "base.html" %} {%block content%}
{%load static%}

 {%block css%}
 <link rel="stylesheet" href="{% static 'css/favourite.css' %}">
 <link rel="stylesheet" href="{% static 'css/dark-nav.css' %}">
 {%endblock css%}



<main>
     <!--favourite heading-->
     <div class="favourite-heading">
        <h2>Wishlist</h2>

    </div>
    <!--favourite page products-->
    <div class="home-page-products-container">


        <div class="product ">
            <!-- Content for sweatshirt products -->


            <div id="home-page-products">
                <a href="#"> <img src="static/assets/t-shirt.jpg.webp" alt="reload...">

                    <li id="home-product-name">Red Eagle <div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>


                </a>
            </div>


        </div>

        <div class="product ">
            <!-- Content for sweatshirt products -->


            <div id="home-page-products">
                <a href="#"> <img src="static/assets/t-shirt.jpg.webp" alt="reload...">

                    <li id="home-product-name">Red Eagle <div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>


                </a>
            </div>


        </div>


        <div class="product ">
            <!-- Content for sweatshirt products -->


            <div id="home-page-products">
                <a href="#"> <img src="static/assets/t-shirt.jpg.webp" alt="reload...">

                    <li id="home-product-name">Red Eagle <div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>


                </a>
            </div>


        </div>

        <div class="product ">
            <!-- Content for t-shirt products -->


            <div id="home-page-products">
                <a href="#">
                    <img src="static/assets/sweatshirt-jpg.webp" alt="reload...">

                    <li id="home-product-name">Blue nave<div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>
                </a>
            </div>

        </div>

        <div class="product">
            <!-- Content for hoodie products -->


            <div id="home-page-products">
                <a href="#">
                    <img src="static/assets/hoddie.jpg.webp" alt="reload...">

                    <li id="home-product-name">Orange Owl<div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>
                </a>
            </div>

        </div>

        <div class="product ">
            <!-- Content for sweatshirt products -->


            <div id="home-page-products">
                <a href="#"> <img src="static/assets/t-shirt.jpg.webp" alt="reload...">

                    <li id="home-product-name">Red Eagle <div id="favourite-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                <!-- Your path element and other SVG content -->
                                <path fill="#ff2600"
                                    d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                            </svg>
                        </div>
                    </li>
                    <li id="home-product-selection">RS.2,000</li>


                </a>
            </div>


        </div>
</main>




<!-- <script src="{% static 'js/orderstatus.js' %}"></script> -->
{%endblock content%}